* {
    margin: 0;
    box-sizing: border-box;
}

/*navbar styling*/

nav {
    display: flex;
    background-color: #ffffff;
    font-size: 0.9rem;
    font-weight: 400;
    align-items: center;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    font-family: Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
}

nav>* {
    margin-right: 10px;
}

.search-div {
    flex-grow: 17;
    border-radius: 9999px;
    border: 1px #000 solid;
    height: 3rem;
    display: flex;
    background-color: #f7f9fa;
    align-items: center;
    justify-content: flex-start;
}

.search-div div {
    padding: 3%;
}

.search-div input[type=text] {
    border-width: 0;
    background-color: inherit;
    height: 100%;
    outline: none;
    flex-grow: 1;
    max-width: 86%;
    border-radius: 9999px;
    border: 1px #f7f9fa solid;
}

.search-div i {
    color: #8A8B8D;
}

a,
nav {
    text-transform: capitalize;
}

a {
    text-decoration: none;
    color: inherit;
}

.search-div button {
    padding: 0;
    border: 0;
    background-color: inherit;
    cursor: pointer;
}

.login-button {
    border: 1px rgb(0, 0, 0) solid;
    font-weight: bold;
    padding: 10px 0px;
}

.signup-button {
    border: 1px rgb(0, 0, 0) solid;
    font-weight: bold;
    padding: 10px 0px;
    background-color: #000;
    color: #ffffff
}

.global-button {
    border: 1px rgb(0, 0, 0) solid;
    font-weight: bold;
    padding: 10px 0px;
    max-width: 40px;
}

/*header styling*/

header
{
    max-width: 78%;
    margin: auto;
    background-color: #f7f9fa;
    display: flex;
    align-items: center;
    font-weight: 400;
}


header div{
    background-color: #ffffff;
    padding:20px;
    font-family: Georgia,Times,"times new roman",serif,"apple color emoji","segoe ui emoji","segoe ui symbol";
}
header p{
    line-height: 1.4;
    margin-top: 15px;
}

header p::first-letter,header h1::first-letter{
    text-transform: capitalize;
}

/*media queries*/
@media(max-width:800px) {
    .menu {
        display: block;
        font-size: 1.6rem;
        font-weight: 900;
    }

    nav>*:not(:last-child):not(:first-child) {
        display: none;
    }
    nav {
        height: 60px;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    header
    {
        flex-direction: column-reverse;
    }
    header img{
        width:70%;
    }
    header div{
        width: 100%;
    }
    header p{
        font-size: 1rem;
    }
    header h1{
        font-size: 1.5rem;
    }
}

@media(min-width:800px)and (max-width:920px) {
    .udemy-business {
        display: none;
    }

    .teach-on-udemy {
        display: none;
    }

    .menu {
        display: none;
    }
    nav {
        height: 70px;
        flex-direction: row;
    }
    nav>*:not(.search-div) {
        flex-grow: 1;
    }
    header
    {
        flex-direction: column-reverse;
    }
    header img{
        width:70%;
    }
    header div{
        width: 100%;
    }
    header p{
        font-size: 1.2rem;
    }
    header h1{
        font-size: 1.8rem;
    }
}

@media(min-width:920px)and (max-width:1080px) {
    .udemy-business {
        display: none;
    }

    .teach-on-udemy {
        display: block;
    }

    .menu {
        display: none;
    }
    nav {
        height: 70px;
        flex-direction: row;
    }
    nav>*:not(.search-div) {
        flex-grow: 1;
    }
    header
    {
        height: 30vw;
        justify-content: space-evenly;
    }
    header img{
        width:40%;
    }
    header div{
        width: 40%;
    }
    header p{
        font-size: 1.3rem;
    }
    header h1{
        font-size: 1.8rem;
    }
}

@media(min-width:1080px) {
    .udemy-business {
        display: block;
    }

    .teach-on-udemy {
        display: block;
    }

    .menu {
        display: none;
    }

    nav {
        height: 70px;
        flex-direction: row;
    }
    nav>*:not(.search-div) {
        flex-grow: 1;
    }
    header
    {
        height: 30vw;
        justify-content: space-evenly;
    }

    header img{
        width:40%;
    }
    header div{
        width: 40%;
    }
    header p{
        font-size: 1.4rem;
    }
    header h1{
        font-size: 1.9rem;
    }
}